
    /* HERO*/
    
    .hero-title {
        color: var(--primary-white-color);
        background-color: #757575;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    
    .hero-button {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
    
    }
    
    /* benefits */
    
    .benefits-list {
        color: var(--primary-text-color);
        font-weight: 700;
        line-height: 1.14;
    }
    
    .text {
        color: var(--title-text-color);
        line-height: 1.71;
    }
    
    /* Work end Comanda */
    
    .work,
    .comanda {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }
    
    .comanda-element {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    }
    
    .professional {
        columns: var(--title-text-color);
        font-size: 16px;
        line-height: 1.19;
    }
    
   