:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}
     
     /* PORTFOLIO */
.title {
    color:  var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
} 

    
.text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
}

.filtr-button {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

.filtr-button:hover,
.filtr-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


.card {
    text-decoration: none;
}
