
        /* PORTFOLIO */
.portfolio {
    columns: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
 }
    
